body{
    font-family: "Noto Sans JP", sans-serif;
}
.content-app {
    margin-top: 47px;
    margin-bottom: 57px;
}
.button-custom {
    width: 150px;
    margin-top: 20px;
    font-size: 16px;
    background: #26A699;
    border-radius: 13px;
    line-height: 50px;
    border: none;
    color: white;
    height: 50px;
}
.text-stamp-title{
    font-size:18px;
    color: #583F10;
    margin:20px 0;
}
.text-area {
    width: calc(100% - 40px);
    margin: 0 20px;
}
.form-area{
    padding: 20px 19px 29px 20px;
    border: 1px solid #D5CFCA;
    border-radius: 6px;
    width: 100%;
    height: 280px;
}
.text-stamp {
    font-size: 18px;
    color: #583F10;
}
.card_review_complete {
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
}
::placeholder {
    color: #D5CFCA;
}

